<64-hex-sha256>  niahcia-node-linux-x86_64.tar.gz
<64-hex-sha256>  niahcia-miner-linux-x86_64.tar.gz
<64-hex-sha256>  niahcia-compute-linux-x86_64.tar.gz
<64-hex-sha256>  niahcia-full-linux-x86_64.tar.gz
